<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.andi.nms.dao.DepartmentMapper">
  <resultMap id="BaseResultMap" type="com.andi.nms.bean.Department">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="department_name" jdbcType="VARCHAR" property="departmentName" />
    <result column="department_scale" jdbcType="INTEGER" property="departmentScale" />
    <result column="department_contacts" jdbcType="VARCHAR" property="departmentContacts" />
    <result column="department_phone" jdbcType="VARCHAR" property="departmentPhone" />
    <result column="department_email" jdbcType="VARCHAR" property="departmentEmail" />
    <result column="department_remark" jdbcType="VARCHAR" property="departmentRemark" />
    <result column="update_date" jdbcType="TIME" property="updateDate" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
  </resultMap>
</mapper>