<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.andi.nms.dao.EnterpriseMapper">
  <resultMap id="BaseResultMap" type="com.andi.nms.bean.Enterprise">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="enterprise_name" jdbcType="VARCHAR" property="enterpriseName" />
    <result column="enterprise_contacts" jdbcType="VARCHAR" property="enterpriseContacts" />
    <result column="enterprise_phone" jdbcType="VARCHAR" property="enterprisePhone" />
    <result column="enterprise_email" jdbcType="VARCHAR" property="enterpriseEmail" />
    <result column="enterprise_scale" jdbcType="INTEGER" property="enterpriseScale" />
    <result column="enterprise_type" jdbcType="INTEGER" property="enterpriseType" />
    <result column="enterprise_icon" jdbcType="VARCHAR" property="enterpriseIcon" />
    <result column="enterprise_remark" jdbcType="VARCHAR" property="enterpriseRemark" />
    <result column="update_date" jdbcType="TIME" property="updateDate" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
  </resultMap>
</mapper>