<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.andi.nms.dao.StaffMapper">
  <resultMap id="BaseResultMap" type="com.andi.nms.bean.Staff">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="staff_name" jdbcType="VARCHAR" property="staffName" />
    <result column="staff_age" jdbcType="INTEGER" property="staffAge" />
    <result column="staff_sex" jdbcType="INTEGER" property="staffSex" />
    <result column="staff_bron" jdbcType="DATE" property="staffBron" />
    <result column="phone_number" jdbcType="VARCHAR" property="phoneNumber" />
    <result column="staff_email" jdbcType="VARCHAR" property="staffEmail" />
    <result column="staff_address" jdbcType="VARCHAR" property="staffAddress" />
    <result column="companyId_id" jdbcType="INTEGER" property="companyidId" />
    <result column="staff_seniority" jdbcType="DOUBLE" property="staffSeniority" />
    <result column="staff_homeInfo" jdbcType="VARCHAR" property="staffHomeinfo" />
    <result column="staff_icon" jdbcType="VARCHAR" property="staffIcon" />
    <result column="update_date" jdbcType="TIME" property="updateDate" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
  </resultMap>
</mapper>