<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.andi.nms.business.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.andi.nms.business.bean.User">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="sex" jdbcType="CHAR" property="sex" />
    <result column="state" jdbcType="VARCHAR" property="state" />
    <result column="updateDate" jdbcType="TIMESTAMP" property="updatedate" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="count" jdbcType="INTEGER" property="count" />
  </resultMap>

  <select id="findByUserName" resultMap="BaseResultMap">
    SELECT u.* FROM t_user u WHERE u.`username` = #{arg0};
  </select>


</mapper>