<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.andi.nms.business.dao.UserEntityMapper">
    <resultMap id="BaseResultMap" type="com.andi.nms.business.bean.UserEntity">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user" jdbcType="INTEGER" property="user" />
    <result column="entity" jdbcType="INTEGER" property="entity" />
    <result column="authority" jdbcType="INTEGER" property="authority" />
  </resultMap>

  <select id="findByUserId" resultMap="BaseResultMap">
      SELECT ue.* FROM t_user_entity ue WHERE ue.`user` = #{arg0};
  </select>

</mapper>